@import 'default.css';

*{
	scroll-behavior: smooth;
}

body{
	background-color: #eceff1;
}

h1, header{
	text-align: center;
}

p{
	padding-left: 5px;
}

a{
	color: #005386;
	text-decoration: none;
}

img{
	display: inline-block;
}

.fit{
	width: 25%;
	height: 25%;
}

.center{
    align-content: center;
    text-align: center;
}

.attachment {
    border: solid 5px #3F474F;
    border-radius: 5%;
    width: 250px;
    height: 250px;  
}

.attachment-box {
    margin: 1em;  width: 250px; border: 0px solid black;
}
